.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.selection-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.results-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.results-container div{
    margin: 0 40px 0 40px;
}

button {
    height: 50%;
}

.header{
    text-align: center;
}

div {
    border: solid 1px red;
}

.icon{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.icon.far :hover{
    cursor: pointer;
}

.far{
    size: 4;
}